{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        {{#if @blog.navigation}}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {{/if}}
    </nav>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">

        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
                <span class="fa fa-user"></span> {{author}}
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"><span class="fa fa-calendar"></span>{{date format="DD MMMM YYYY"}}</time>
                {{#if tags}}<span class="fa fa-tags"></span>{{/if}}{{tags}}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>

            <section class="share">
                <h4>share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

            <!--section class="follow">
                <a class="google" href=""><span class="fa fa-facebook-square"></span></a>
                <a class="linkedin" href=""><span class="fa fa-linkedin-square"></span></a>
                <a class="github" href=""><span class="fa fa-github-square"></span></a>
                <a class="500px" href=""><span class=""><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <path id="_x35_00px-square-rounded-icon" d="M361.811,230.917c6.04,7.028,9.063,15.46,9.063,25.293
c0,9.841-2.812,18.128-8.431,24.872c-5.625,6.744-13.635,10.117-24.029,10.117c-5.901,0-11.455-0.98-16.651-2.951
c-5.204-1.963-10.189-4.564-14.966-7.798c-4.781-3.229-9.273-6.883-13.489-10.961c-4.216-4.07-8.154-8.22-11.804-12.435
c3.373-3.65,7.166-7.655,11.383-12.016c4.215-4.354,8.642-8.358,13.279-12.015c4.637-3.648,9.55-6.672,14.754-9.062
c5.197-2.385,10.604-3.584,16.229-3.584C347.543,220.378,355.764,223.896,361.811,230.917z M462,100v312c0,27.614-22.386,50-50,50
H100c-27.614,0-50-22.386-50-50V100c0-27.614,22.386-50,50-50h312C439.614,50,462,72.386,462,100z M410.5,254.945
c0-10.96-1.687-21.077-5.059-30.352c-3.372-9.274-8.154-17.35-14.333-24.239c-6.186-6.884-13.772-12.291-22.764-16.23
c-8.998-3.932-19.115-5.902-30.353-5.902c-8.998,0-17.356,1.41-25.082,4.216c-7.733,2.812-14.9,6.534-21.5,11.171
c-6.605,4.637-12.791,10.052-18.548,16.229c-5.764,6.186-11.316,12.509-16.651,18.971c-5.625-6.745-11.316-13.135-17.073-19.181
c-5.763-6.04-11.948-11.383-18.548-16.02c-6.606-4.637-13.773-8.358-21.5-11.171c-7.732-2.806-16.23-4.216-25.504-4.216
c-11.244,0-21.361,2.042-30.352,6.113c-8.998,4.078-16.586,9.557-22.765,16.441c-6.185,6.889-10.894,15.037-14.122,24.45
c-3.234,9.419-4.848,19.602-4.848,30.562s1.687,21.223,5.059,30.773c3.372,9.558,8.286,17.778,14.754,24.661
c6.463,6.89,14.188,12.37,23.186,16.44c8.991,4.078,19.248,6.113,30.773,6.113c9.275,0,17.633-1.331,25.084-4.006
c7.442-2.667,14.332-6.178,20.655-10.538c6.323-4.354,12.292-9.413,17.917-15.177c5.618-5.756,11.381-11.73,17.283-17.916
c5.335,6.186,10.96,12.16,16.861,17.916c5.902,5.764,12.153,10.822,18.76,15.177c6.601,4.36,13.701,7.871,21.289,10.538
c7.587,2.675,15.735,4.006,24.449,4.006c11.238,0,21.428-2.035,30.563-6.113c9.129-4.07,16.789-9.695,22.975-16.862
c6.179-7.167,10.961-15.524,14.333-25.082C408.813,276.169,410.5,265.906,410.5,254.945z M219.113,245.039
c-4.498-4.354-9.207-8.358-14.121-12.015c-4.921-3.648-10.052-6.672-15.388-9.062c-5.341-2.385-10.683-3.584-16.019-3.584
c-9.84,0-17.639,3.729-23.396,11.172c-5.763,7.449-8.642,15.808-8.642,25.082c0,10.118,2.95,18.411,8.853,24.872
c5.901,6.468,14.05,9.695,24.45,9.695c5.335,0,10.677-1.053,16.019-3.161c5.336-2.107,10.395-4.776,15.177-8.009
c4.775-3.229,9.274-6.884,13.489-10.961c4.216-4.071,8.01-8.076,11.383-12.014C227.545,253.404,223.606,249.399,219.113,245.039z"></path> </svg></span></a>
                <a class="rss" href=""><span class="fa fa-rss-square"></span></a>
            </section-->

        {{/author}}

        </footer>

    </article>
</main>

<aside class="read-next">
    {{#next_post}}
    <a class="read-next-story {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/next_post}}
    {{#prev_post}}
    <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
        <section class="post">
            <h2>{{title}}</h2>
            <p>{{excerpt words="19"}}&hellip;</p>
        </section>
    </a>
    {{/prev_post}}
</aside>

{{/post}}
